* {
	box-sizing: border-box;
}

input,
label,
select,
button,
textarea
{
	background:none;
	border:0;
	display:inline-block;
	line-height:1;
	margin:0;
	padding:0;
	vertical-align:middle;
	white-space:normal;

}

body {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	height: 500px;
	align-items: center;
	width: 300px;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	text-align: center;
}

input {
	border-bottom: solid black 1px;
	text-align: center;
}

#buttonWrapper {
	text-align: center;
	width: 100%;
}

button {
	width: 5rem;
}
