* {
    box-sizing: border-box;
}

input,
label,
select,
textarea {
    background: none;
    border: 0;
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: normal;
}

body {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    width: 300px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}

section {
    margin: 0.75rem;
	text-align: center;
}

input {
    border-bottom: solid #000 1px;
    text-align: center;
}

#buttonWrapper {
    text-align: center;
    width: 100%;
}

button {
	border: 1px solid #000;
	border-radius: 10%;
	padding: 8px;
	text-align: center;
	width: 50%;
}

button:hover {
	background-color: #f0f0f0;
	padding: 10px;
	cursor: pointer;
}
